* {
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	background-image: url("./CountDownImg.jpg");
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

h1 {
	font-weight: normal;
	font-size: 4rem;
}

.countdown-container {
	flex-wrap: wrap;
	align-items: center;
	display: flex;
	justify-content: center;
}

.big-text {
	font-weight: bold;
	font-size: 6rem;
	line-height: 1;
	margin: 0 2rem;
	margin: 1rem 2rem;
}

.countdown-el {
	text-align: center;
}

.countdown-el span {
	font-size: 1.5rem;
}
